/* Write your CSS here */
.destination-item {
  margin-bottom: 35px;
  margin-left: 18px;
  margin-right: 18px;
  width: 245px;
  list-style-type: none;
}

.destination-image {
  height: 180px;
  width: 245px;
}

.name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 22px;
  }
}
